USE [DataWarehouse]
GO
/****** Object:  View [gold].[dim_products]    Script Date: 11/09/2025 08:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [gold].[dim_products] AS
SELECT
		ROW_NUMBER() OVER (ORDER BY p.prd_start_dt, p.prd_key) AS product_key,
		p.prd_id AS product_id,
		p.prd_key AS product_number,
		p.prd_nm AS product_name,
		p.cat_id AS category_id,
		g.cat AS category,
		g.subcat AS subcategory,
		g.maintenance,
		p.prd_cost AS cost,
		p.prd_line AS product_line,
		p.prd_start_dt AS start_date
FROM silver.crm_prd_info p
LEFT JOIN silver.erp_px_cat_g1v2 g
ON p.cat_id = g.id
WHERE prd_end_dt IS NULL
GO
