USE [DataWarehouse]
GO
/****** Object:  View [gold].[dim_customers]    Script Date: 11/09/2025 08:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [gold].[dim_customers] AS
SELECT
	ROW_NUMBER() OVER (ORDER BY c.cst_key) AS customer_key,
	c.cst_id AS customer_id,
	c.cst_key AS customer_number,
	c.cst_firstname AS first_name,
	c.cst_lastname AS last_name,
	l.cntry AS country,
	CASE WHEN c.cst_gndr != 'n/a' THEN c.cst_gndr
		ELSE COALESCE(a.gen, 'n/a') 
	END AS gender,
	c.cst_marital_status AS marital_status,
	a.bdate AS birthday,
	c.cst_create_date AS create_date
FROM silver.crm_cust_info c
LEFT JOIN silver.erp_cust_az12 a
ON		c.cst_key = a.cid 
LEFT JOIN silver.erp_loc_a101 l
ON		c.cst_key = l.cid 
GO
