USE [DataWarehouse]
GO
/****** Object:  Table [bronze].[erp_loc_a101]    Script Date: 11/09/2025 08:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[erp_loc_a101](
	[cid] [nvarchar](50) NULL,
	[cntry] [nvarchar](50) NULL
) ON [PRIMARY]
GO
